/*Content first - Mobile First*/
	.button{
		margin: .5rem;
		border-radius: .2rem;
		border: 2px solid #333;
		padding: .5rem;
		color: #333;
		background-color: transparent;
	}
	.button:hover{
		color: #eee;
		background-color: #333;
	}	* {
		box-sizing: border-box;
		font-family: sans-serif
	}
	body{
		margin: 0;
	}
	/*navegacion*/
		nav{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background-color: #eee;
		}
		nav .menu{
			width:100%;
			height:0;
			overflow: hidden;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.menu a{
			display: block;
			padding: .5rem;
			color:#333;
			text-decoration: none;
		}	
		.menu a:hover{
			background-color: #3338;
		}
		.menu.active{
			height:auto;
		}
		#search {
			display:none;
		}
		nav .back{
			position: fixed;
			bottom: 1rem;
			right: 1rem;
			width: 2rem;
			padding: 0;
			line-height: 2rem;
			text-align: center;
			border-radius: 50%;
			opacity: .6;
			color: #eee;
			background-color: #333;
		}
		nav .back:hover{
			opacity: .8;
		}
	/*mainHeader*/
		#header{
			padding: 20% 1rem;
			text-align:center;
			color: #eee;
			text-shadow: 0 0 .2rem #666;
			backgroun-color: #333;
		}
		#header h1,
		#header p{
			margin: 0;
			font-size: calc(2vw + .8rem);
		}
	/*section*/	
		section{
			background-color: #e1e1e1;
			margin-bottom: 1rem;
		}		

		.gallery{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			gap: .5rem;
		}
		.gallery img{
			display:block;
			width: 100%;
			min-height: 200px;
			border: .5rem solid #eee;
			border-radius: .5rem;
			background-color: #666;
		}
	/*mainFooter*/
		#footer{
			padding: 1rem;
			background-color: #eee;
		}
	/*contactForm*/
		#contact{
			max-width: 540px;
			display: flex;
			flex-direction: column;
		}
		#contact input,
		#contact textarea{
			padding: .5rem 1rem;
			border: 2px solid transparent
			font-size: 1rem;
		}
/*medium devices*/
	@media screen and (min-width:768px){
		nav .button{
			display:none;
		}
		nav .menu{
			display: flex;
			width: auto;
			height: auto;
		}
		#search{
			display: block;
	}
/*Large Devices*/	
	@media screen and (min-width:992px){
		#contact{
			max-width: 720px;

		}
/*Autor: Cristian Racedo*/
