/*Hoja de Estilos Proyecto*/

	.button{
		margin: .5rem;
		border-radius: .2rem;
		border: 2px solid #333;
		padding: .5rem;
		color: #333;
		background-color: transparent;
	}
	.button:hover{
		color: #eee;
		background-color: #333;
	}
/*mainHeader*/

/*contactForm*/
	#contact{
		display: flex;
		flex-direction: column;
	}
	#contact input,
	#contact textarea{
		padding: .5rem 1rem;
		border: 2px solid transparent
		font-size: 1rem;
	}


/*Autor: Cristian Racedo*/
