/*Content first - Mobile First*/
	.button{
		margin: .5rem;
		border-radius: .2rem;
		border: 2px solid #333;
		padding: .5rem;
		color: #333;
		background-color: transparent;
	}
	.button:hover{
		color: #eee;
		background-color: #333;
	}	* {
		box-sizing: border-box;
		font-family: sans-serif
	}
	body{
		margin: 0;
	}
	/*navegacion*/
		nav{
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #eee;
		}
		.menu{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.menu a{
			display: block;
			color:#333;
			text-decoration: none;
		}	
		.menu a:hover{
			background-color: #3338;
		}

/*mainHeader*/

/*contactForm*/
	#contact{
		display: flex;
		flex-direction: column;
	}
	#contact input,
	#contact textarea{
		padding: .5rem 1rem;
		border: 2px solid transparent
		font-size: 1rem;
	}

/*Autor: Cristian Racedo*/
