/*Estilos Generales Proyecto*/
	* {
		box-sizing: border-box;
		font-family: sans-serif
	}
	body{
		margin: 0;
	}	
	.button{
		margin: .5rem;
		border-radius: .2rem;
		border: 2px solid #333;
		padding: .5rem;
		color: #333;
		background-color: transparent;
	}
	.button:hover{
		color: #eee;
		background-color: #333;
	}
	/*navegacion*/
		nav{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background-color: #eee;
		}
		nav .menu{
			width:100%;
			height:0;
			overflow: hidden;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.menu a{
			display: block;
			padding: .5rem;
			color:#333;
			text-decoration: none;
		}	
		.menu a:hover{
			background-color: #3338;
		}
		.menu.active{
			height:auto;
		}
		#search {
			display:none;
		}
		nav .back{
			position: fixed;
			bottom: 1rem;
			right: 1rem;
			width: 2rem;
			padding: 0;
			line-height: 2rem;
			text-align: center;
			border-radius: 50%;
			opacity: .6;
			color: #eee;
			background-color: #333;
		}
		nav .back:hover{
			opacity: .8;
		}
	/*mainHeader*/

	/*contactForm*/
		#contact{
			display: flex;
			flex-direction: column;
		}
		#contact input,
		#contact textarea{
			padding: .5rem 1rem;
			border: 2px solid transparent
			font-size: 1rem;
		}

/*medium devices*/
	@media screen and (min-width:768px){
		nav .button{
			display:none;
		}
		nav .menu{
			display: flex;
			width: auto;
			height: auto;
		}
		#search{
			display: block;
		}
	}
/*Autor: Cristian Racedo*/
